---
import Layout from '../layouts/Layout.astro';
import ScriptVault from '../modules/vault/ScriptVault';
---

<Layout title="The Vault | Scripts & Strategy">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <ScriptVault client:load />
  </div>
</Layout>